{% extends 'web/public/extra_base.html' %}
{% load static %}
{% block meta %}

{% endblock %}

{% block content %}
    <section id="home">
        <header>
            <div class="top">               
            </div>
            <div class="bottom">
                <section class="wrapper">
                    <div class="left">
                        <h1>
                            <a href="{% url 'web:public_index' %}" title="Offerpedia">
                                <img src="{% static 'web/public/website/images/logo.png' %}" alt="image">
                            </a>
                        </h1>                       
                    </div>
                    <span class="mobile-menu-icon icon-align-right "></span>
                    <span class="mobile-menu-close-icon icon-cancel"></span>
                   <div class="right">
                        <nav>
                            <ul>
                                <li><a href="{% url 'web:public_index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'web:public_business' %}" target="_blank">Offerpedia for business</a></li>
                                <li><a href="{% url 'web:public_index' %}#spotlight">Download App</a></li>
                                
                            </ul>
                            <br class="clear" />
                        </nav>                     
                    </div>
                    <div class="mobile-menu">
                        <ul>
                            <li><a href="{% url 'web:public_index' %}">Home</a></li>
                            <li><a href="{% url 'web:public_business' %}" target="_blank">Offerpedia for business</a></li>
                            <li><a href="{% url 'web:public_index' %}#spotlight">Download App</a></li>
                        </ul>
                    </div> 
                    <div class="mobile-menu-overlay"></div>
                    <br class="clear" />                 
                </section>
            </div>
        </header>
       <!--  <section id="spotlight">
            <section class="wrapper">
                <div class="left">
                    <h1>offerpedia</h1>
                    <p>We help you Build your own sales community through Word-Of-Mouth marketing!</p>
                    <a href="#" class="button">connect with us</a>
                </div>
                <div class="right">
                    <div class="image">
                        <img src="{% static 'web/public/website/images/bussines-spotlight.png' %}" alt="image" />
                    </div>
                </div>
                <br class="clear"/>
            </section>
        </section> -->
    </section><!-- section#home -->
<section id="privacy">
	<section class="wrapper">
		<section class="container">
			<section class="top"><h3>Privacy</h3></section>
			<section class="content">
				<p>Updated on 15th April 2019. Have a glance of our privacy policy at regular intervals to be aware of the changes we have made.</p>
				<p>Welcome to Offerpedia-The Referral Bank!</p>
				<p>This Terms and Conditions ("Terms", "Terms and Conditions") govern your relationship with Offerpedia – The Referral Bank mobile application (the "Service") operated by Offerpedia Marketing and Technological Solutions WLL ("us", "we", or "our").</p>
				<p>Read our Terms and Conditions carefully before using Offerpedia mobile application (the "Service").</p>
				<p>Your use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using this Service, you agree to be bound by these Terms.  Strictly do not use or access this service if you disagree with any/all of these Terms & Conditions.</p>
				
				<h4>Campaign</h4>
				<ul>
					<li>Businesses that are connected to Offerpedia through various campaigns are charged a fee and Offerpedia reserves the right to revise that fee according to market standards.</li>
					<li>If the business has generated any sale for that matter, Offerpedia reserves the right to retain the fee of the campaign, and the commission for the business for the sale/referral.</li>
					<li>Businesses cannot transfer the amount of a campaign nor adjust the amount with any other campaign.</li>
				</ul>

				<h4>Purchases</h4>
				<p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be taking the entire responsibility of your purchase. You represent and warrant that:</p>
				<ul>
					<li>We do not endorse or advertise any particular brand/product/service.</li>
					<li>We act as a platform for showcasing various businesses.</li>
					<li>We will not be in any case responsible for the after sales services, return & refund, quality and condition of the product. </li>
					<li>We reserve the right to grant or refuse your cashback/promo code/offers at any time for certain reasons including but not limited to: product or service availability, price of the product or service, or other reasons.</li>
				</ul>

				<h4>Availability, Errors and Inaccuracies</h4>
				<p>We are constantly updating our offerings of products and services on the Service. The products or services available on our Service may be mispriced, described inaccurately, or unavailable, and we may experience delays in updating information on the Service and in our advertising on other web sites.</p>
				<p>We cannot and do not guarantee the accuracy or completeness of any information, including prices, product images, specifications, availability, and services. We reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.</p>

				<h4>Contests, Sweepstakes and Promotions</h4>
				<p>Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be governed by rules that are separate from these Terms. If you participate in any Promotions, please review the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with these Terms, the Promotion rules will apply.</p>

				<h4>Fee Changes</h4>
				<p>Offerpedia, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>
				<p>Offerpedia will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.</p>
				<p>Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.</p>

				<h4>Content</h4>
				<p>Our Service requires to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). Businesses are responsible for the Content that you provide to the Service, including its legality, reliability, and appropriateness.</p>
				<p>By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>
				<p>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.</p>

				<h4>Accounts</h4>
				<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
				<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
				<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
				<p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.</p>

				<h4>Intellectual Property</h4>
				<p>The Service and its original content (excluding Content provided by Businesses), features and functionality are and will remain the exclusive property of Offerpedia and its licensors. The Service is protected by copyright, trademark, and other laws of both the Bahrain and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Offerpedia.</p>

				<h4>Links To Other Websites</h4>
				<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Offerpedia.</p>
				<p>Offerpedia has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Offerpedia shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
				<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

				<h4>Termination</h4>
				<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

				<h4>Limitation Of Liability</h4>
				<p>In no event shall Offerpedia, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>

				<h4>Disclaimer</h4>
				<p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
				<p>Offerpedia, its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>

				<h4>Governing Law</h4>
				<p>These Terms shall be governed and construed in accordance with the laws of Bahrain, without regard to its conflict of law provisions.</p>
				<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

				<h4>Changes</h4>
				<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
				<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

				<h4>Contact Us</h4>
				<p>If you have any questions about these Terms, please contact us on hello@offerpedia.org</p>
			</section>
		</section>
	</section>
</section>
 <footer>
        

        <section id="backup">
            <section class="wrapper">
                <div class="box">
                    <h3>Backed by</h3>
                    <div class="box-bottom">
                        <div class="left img">
                            <a href="https://startupbahrain.com/" target="_blank"><img src="{% static 'web/public/website/images/bahrain.png' %}" alt="image"></a>
                        </div>
                        <div class="right img">
                            <a href="https://www.c5capital.com/" target="_blank"><img src="{% static 'web/public/website/images/cd.png' %}" alt="image"></a>
                        </div>
                        <br class="clear"/>
                    </div>
                </div>
            </section>
        </section>
        <section class="middle">
            <p>Follow us on</p>
            <div class="icon">
                <a href="https://facebook.com/pages/category/Advertising-Marketing/Offerpedia-388019758362297/" target="_blank">
                    <span class="icon-facebook" title="https://facebook.com/pages/category/Advertising-Marketing/Offerpedia-388019758362297/">
                        <small></small>
                    </span>
                </a>
                <a href="https://instagram.com/offerpedia" target="_blank">
                    <span class="icon-instagram" title="https://instagram.com/offerpedia">
                        <small></small>
                    </span>
                </a>
            </div>
            <div class="connect web">
                <p>Connect With Us</p>
                <div class="icon">
                    <p><span class="icon-mail"></span><a href="mailto:hello@offerpedia.org">hello@offerpedia.org</a></p>
                    
                    <p class="phone"><span class="icon-phone"></span><a href="tel:+973 39217883">+973 39217883</a></p>
                </div>

            </div>
            <div class="connect mobile hidden">
                <p>Connect With Us</p>
                <div class="icon">
                    <p><span class="icon-mail"></span><a href="mailto:hello@offerpedia.org">hello@offerpedia.org</a></p>
                    
                    <p><span class="icon-phone"></span><a href="tel:+973 39217883">+973 39217883</a></p>
                </div>

            </div>
            <div class="privacy">
                <ul>
                    <li><a href="{% url 'web:public_index' %}#spotlight">Download App</a></li>
                    <li><a href="{% url 'web:public_privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'web:public_support' %}">Support</a></li>
                </ul>
            </div>

            
        </section>
        <section class="bottom">
            <p>&copy; {% now 'Y' %} Offerpedia. All rights reserved | Created and maintained under <a href="https://talrop.com/worktech" target="_blank" title="Talrop Techpe"> Talrop WorkTech</a></p>
        </section>
 </footer><!-- footer -->
{% endblock %}

{% block static %}

{% load static %}
<style>
	#privacy .top {
		padding:40px 0;
	}
	#privacy .top h3 {
		font-weight: bold;
		font-size: 34px;
		text-align: center;
		font-weight: bold;
	}
	#privacy .content {
		padding-bottom: 40px;
		width:80%;
		margin: 0 auto;
	}
	#privacy .content p {
		font-size: 16px;
		line-height: 1.6em;
		margin:10px 0;
	}
	#privacy .content h4 {
		font-size: 18px;
		font-weight: bold;
		font-weight: 700;
		margin:20px 0 10px;
	}
	#privacy .content p b {
		font-weight: 700;
	}
	#privacy .content p i {
		font-style: italic;
	}
	#privacy .content ul li {
		margin:15px 0;
		font-size: 16px;
		line-height: 1.6em;
		margin-left: 5%;
	}
	@media all and (max-width: 768px){
		#privacy .content {
			width: 100%;
		}
	}
</style>
{% endblock %}