{% extends 'web/shop/base.html' %}
{% load static %}
{% block content %}
{% include 'web/shop/navbar.html' %}

<section id="faq">
    <section class="wrapper">
        <div class="qna">
            <div class="heading">
                <h1>Frequently Asked Questions(FAQ)</h1>
            </div>
            <div class="title">
                <h1>General</h1>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>What is Offerpedia?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Offerpedia is a referral app with cashback for you and your friends upon purchase. 
                        We bring to you the products from local businesses in Bahrain with an aim to support the local businesses in Bahrain.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Does Offerpedia charge a membership fee or does it have any kind of hidden charges?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>No, Offerpedia is completely free for users. You simply have to download the app or visit offerpedia.org to start using Offerpedia!</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How do I sign up on Offerpedia? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You can click <a href="https://youtu.be/O9vaHNFKNyM" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How do I buy a product on Offerpedia? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You can click <a href="https://youtu.be/qbAC4CrrQAY" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How do I refer my friends and family ? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You can refer your friends and family in 2 ways. (1) You can go to our website, 
                        click on the share symbol on the top right corner of each campaign and simply share!  
                        (2) You can also share a campaign from the app. 
                        Simply open a campaign and click on 'Share Now' and share it to anyone! Click 
                        <a href="https://youtu.be/zb-8bdSDVpc" target="_blank"> here </a> to see the video.
                        </p>
                </div>
            </div>
            <div class="title">
                <h1>Orders</h1>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Can I track my current order? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You can click <a href="https://youtu.be/qbAC4CrrQAY" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Can I get the details of my previous orders?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes. you can get the complete details of your previous orders. You can click <a href="https://youtu.be/jPcCR1g_Kx0" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>I was not happy with my order, who should I talk to?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>We are trying our best to serve you better. We are extremely sorry for any inconvenience caused. 
                        But, we would love to hear from you and you may email us at hello@offerpedia.org 
                        A member from the concerned team will contact you at the earliest. </p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>I received a damaged/ broken product or a totally different product than I ordered. What will I do?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Dont worry about that. 
                        You can simply send an email to hello@offerpedia.org with your registered mobile number and contact details. 
                        A member from the concerned team will get in touch with you at the earliest and we shall exchange the product for you.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>I changed my mind after I purchased a product. Can I cancel my order?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes, you may cancel the order by contacting +973 39217883 within 10 minutes of placing the order.</p>
                </div>
            </div>
            <div class="title" id="return-policy">
                <h1 style="font-size: 18px; color: red;">Return Policy</h1>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Can I return the product I purchased?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes. You can return a product within 15 days of your purchase. 
                        The product can be returned, only if it is unused, new, not damaged, not crushed/wrinkled, 
                        packages not damaged or torn, and labels/tags etc are not removed. 
                        You can send us an email at hello@offerpedia.org with the details of your purchase and registered mobile number. 
                        A member from our team will arrange for return of the product. 
                        You will be given the amount of the returned product (deducting any cashback given to you and your friend for this particular product).</p>
                </div>
            </div>
            <div class="title">
                <h1>Cashback</h1>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How do I get cashback from Offerpedia? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>There are 2 ways you can avail the cashback.  
                        (1) You can purchase any products from Offerpedia and your Offerpedia wallet will be credited with cashback after your purchase. 
                        (2) You can share the campaigns (from app or our website) to your friends or family (by whatsapp, facebook, gmail etc) and  your 
                        Offerpedia wallet will be credited with cashback when they purchase. 
                        Not just that, along with you, even your friends or family who purchased will also get the cashback! Great isn't it???!</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How will I know that I got a cashback from Offerpedia?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You will receive a text message to the registered mobile when the cashback is credited to your Offerpedia wallet.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>What do I do with Offerpedia cashbacks? </h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Offerpedia cashbacks can be used in 3 ways. 
                        (1) You can use it for the next purchase, ie when you do the payment for the next purchase, 
                        simply choose to use the cashback in your wallet and you can pay the remaining amount deducting the cashback you have in your wallet. 
                        Click <a href="https://youtu.be/K6bXdnndBFs" target="_blank">here </a> to see the video. 
                        (2) You can transfer your cashback to any Offerpedia user. 
                        You can see the video <a href="https://youtu.be/nrp5PjnsKug" target="_blank">here</a> .  
                        (3) When you have the minimum required cashback in your Offerpedia wallet, you can withdraw it to your Bahrain bank account. 
                        You can see the video <a href="https://youtu.be/Pwpfk5P3F8U" target="_blank">here</a>. </p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Can I use my cashback to pay when I purchase?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes ofcourse! you can click on the button 'Wallet' 
                        at the time of placing the order and the cashback already available in your wallet will be deducted from your current order. 
                        You can click <a href="https://youtu.be/K6bXdnndBFs" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>How do I transfer my cashback to my bank account ?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>You can transfer your cashback to bank account from the Offerpedia app. 
                        Upon your cashback reaching a minimum required cap, you can click on Accounts >> 
                        Transfer  and click on 'Transfer to bank' button and enter your Bahrain bank account details. 
                        You can see the video <a href="https://youtu.be/Pwpfk5P3F8U" target="_blank"> here.</a></p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Can I know the complete details of my cashback?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes. You can know the past cashbacks received, cashbacks used etc. You can click <a href="https://youtu.be/DzUxl13e1XU" target="_blank"> here </a> to see the video.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>If I buy a product for myself, will I get a cashback?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes. you will get cashback available for that campaign.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>If I refer my friend and my friend sends the same link to his/her friend and they purchase using this link. 
                            Will all three of us get the cashback?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>No.  When you refer your friend and your friend purchases from that link, you and your friend will get a cashback. 
                        Now if your friend send the same link to his/her friend and if they purchase, you and the person who purchased the product will get the cashback.</p>
                </div>
            </div>
            <div class="question-section">
                <div class="question">
                    <div>
                        <h3>Will I get to know when my friend purchase using my referral link?</h3>
                    </div>
                    <div>
                        <div class="down arrow">
                            <i class="zmdi zmdi-chevron-down" data-action="down"></i>
                        </div>
                        <div class="up arrow">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                </div>
                <div class="ans">
                    <p>Yes. You will receive the cashback after your friend purchases with your referral link.</p>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    $("div.question-section div.question div.arrow i").click(function(){
        var parent = $(this).parents("div.question-section")
        var data_action = $(this).attr('data-action') 
        parent.find("div.question div.arrow i").each(function(){
            $(this).show();
        })
        $(this).hide()
        console.log("data_action",data_action)
        if (data_action == "down"){
            parent.find("div.ans").show();
        }
        else{
            parent.find("div.ans").hide();
        }
    });
</script>
{% endblock content %}