{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
        	<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
    
            </div>
		</div>

        <div class="card">
			
			{% if instances %}
			
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                            <tr class="check_items_row">
                            	<td>{{instance.name|default:"-"}}</td>
                                <td>{{instance.phone|default:"-"}}</td>
                                <td>{{instance.email|default:"-"}}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>   
            <!--pagination-->
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
    </section>

    
{% endblock %}
