{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    {% include 'web/includes/menu.html' %}  
    <section id="container" class="notification">
        <section id="main">
            <section class="head">
                <h2>
                  <a class="icon icon-menu left menu button-collapse" href="#" data-activates="slide-out">&nbsp;</a>
                  {{title}}
                </h2>
            </section>
            <ul class="notifications">
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
              <li>
                <div class="left">
                  <span class="icon icon-bell"></span>
                </div>
                <div class="right">
                  <h4>Swayamvara Silks Innaguration</h4>
                  <h5>From <b>12/07/2017</b></h5>
                  <h5>To <b>12/07/2017</b></h5>
                </div>
                <br class="clear">
              </li>
            </ul>
        </section>
    </section>

{% endblock %}

{% block static %}
    <script>
        $('.button-collapse').sideNav({
          menuWidth: 300,
          edge: 'left',
          closeOnClick: true,
          draggable: true,
          onOpen: function(el) {},
          onClose: function(el) {},
        });
    </script>
{% endblock %}