{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OTP Verification|OfferPedia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'web/css/fontello.css' %}" type="text/css" />
        <link href="{% static 'web/css/sweetalert.css' %}" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#52B494">
        <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#52B494">
    </head>
    <body>
    	<section id="login" class="reset">
    		<section class="top">
    			<h1><a href=""><img src="{% static 'web/images/dp.png' %}" alt="Offerpedia"></a></h1>
    		</section>
    		<section class="bottom">
                <div class="content">
        			<h2>Verify OTP</h2>
    				<form action="." class="ajax reset redirect" method="post">
                        {% csrf_token %}
    					<p>
    						<span class="icon icon-password">&nbsp;</span>
    						<input name="otp" placeholder="OTP" required value="{{ form.otp.value|default:''}}" type="text">
                            {% if form.otp.errors %}
                                <span class="error">{{ form.otp.errors.as_text }}</span>
                            {% endif %}
    					</p>
    					<input class="submit-login" type="submit" value="Verify OTP" />
    				</form>
    		</section>
    	</section>
        <div id="snackbar">&nbsp;</div>
        <script src="{% static 'web/js/jquery.min.js' %}"></script>
        <script src="{% static 'web/js/sweetalert.min.js' %}"></script>
        <script src="{% static 'web/js/script.js' %}"></script>
    </body>
</html>
